/******************** PLANS CARDS (MOBILE) ********************/
.plan-card {
    padding: 16px 16px 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 32px;
    border-top: 1px solid #cccccc3d;
}
.plan-card:last-child {
    margin-bottom: 0;
}
.plan-card__title {
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-top: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 99;
    background-color: #FFFFFF;
    transition: 0.25s top;
    top:0;
}
.plan-card__title.sticky {
    position: sticky;
    top: 70px;
}
.plan-card__description {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #5A5F63;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 32px;
    line-height: 1.6em;
}
.plan-price-container {
    display: flex;
    justify-content: center;
}
.plan-card .plan__price {
    font-size: 46px;
}
.plan-card .plan_cp {
    font-size: 14px;
}
.toggle-plan-features,
.hide-plan-features {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 0;
    color: #FA3263;
}
.toggle-plan-features:not(.collapsed) .text--uncollapsed {
    display: inline-block;
}
.toggle-plan-features:not(.collapsed) .text--collapsed {
    display: none;
}
.toggle-plan-features.collapsed .text--uncollapsed {
    display: none;
}
.plan-card__footer {
    margin-top: 30px;
}
/*tables*/
.plan-card__table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.plan-card__table thead th {
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
}
.plan-card__table tbody {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.plan-card__table tbody td {
    padding: 16.5px 0;
}
.plan-card__table tbody .td-container{
    display: flex;
    align-items: center;
}
.plan-card__table tbody td:nth-child(2) .td-container {
    justify-content: flex-end;
}
.plan-card__table .feature {
    width: calc(100% - 170px);
    padding-top: 32px;
    padding-bottom: 16px;
}   
.plan-card__table .check-col {
    width: 170px;
}
.plan-card__table tbody td:nth-child(1) {
    padding-right: 8px;
}
.plan-card__table tbody td:nth-child(2) {
    text-align: right;
}
.plan-card__table span.tag {
    padding-top: 0;
    padding-bottom: 0;
}
.plan-card__table .check {
    /*padding-right: 0;*/
}
/*plan-card__table-container*/
.plan-card__table-container {
    overflow: hidden;
}
.plan-card__table-container.collapsed {
    height: 0;
}
/******************** DESKTOP / MOBILE ********************/
.more-info__td {
    cursor: pointer;
}
.more-info__td--hidden .more-info__info {
    display: none;
}
.more-info__i {
    display: inline-flex;
    height: 20px;
    width: 20px;
    border: 1px solid #969BA0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    flex-shrink: 0;
    color: #969BA0;
}
.more-info__info {
    display: block;
    line-height: 1.6em;
    color: #969BA0;
    margin-top: 4px;
}
/******************** HELPER CLASSES ********************/
.tal { 
    text-align: left;
}
.hidden {
    display: none;
}
/******************** EXTRA COST / DINAMIC PRICE ********************/
/* extra cost*/
.extra-cost {
    position: absolute;
    background-color: #fff;
    width: 84px;
    color: #111;
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-weight: 600;
    border: 1px solid #d9d9d9;
    padding: 4px;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 28px;
    font-size: 14px;
}
.extra-cost__value-cp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.extra-cost__currency-perodicity {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #5A5F63;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 2px;
}
.extra-cost__btn {
    background-color: #FA3263;
    color: #fff;
    border: 0;
    font-weight: 500;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    border-radius: 10px;
    padding: 2px 15px;
    margin: 4px 0;
}
.extra-cost__btn:hover {
    cursor: pointer;
    background-color: rgb(210,40,93);
}
.extra-cost__btn:not(.extra-cost__btn--add) .extra-cost__btn__add {
    display: none;
}
.extra-cost__btn:not(.extra-cost__btn--add) .extra-cost__btn__remove {
    display: inline-block;
}
.extra-cost__btn.extra-cost__btn--add .extra-cost__btn__remove{
    display: none;
}
.extra-cost__triangle {
    border-width: 8px 8px 0 8px;
    border-color: #d9d9d9 transparent transparent transparent;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
}
.extra-cost__triangle:after {
    content: "";
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    left: -6px;
    bottom: 2px;
}
/* dinamic price */
.plan--toggleBackgroundColor {
    background-color: #F9E8E6 !important;
}
.plan__extra-cost {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    background-color: #F9E8E6;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
    border-radius: 2px;
    margin: 8px 0 -4px 0px;
    display: none;
}
.plan--show-extra-cost .plan__extra-cost {
    display: inline-block;
}
.plans-header-container.sticky .plan__extra-cost {
    display: none;
}
/******************** TIP ********************/
.tip {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(235,235,254);
    padding: 16px;
    border-radius: 4px;
    border: 1px solid rgb(105,110,242);
    transition: 0.25s all;
    max-height: 80px;
    opacity: 1;
}
.tip i {
    margin-right: 8px;
}
.tip--hidden {
    opacity: 0;
}
.tip--height0 {
    max-height: 0;
    padding: 0;
}
/******************** COMPARE PLANS (MOBILE) ********************/
.plan-card__table tbody tr.other-plan td {
    border-top: 0;
    padding-top: 0;
}
.plan-card__table tbody tr.other-plan:nth-child(3n).show + tr.current-plan td {
    border-top-color: #FA3263;
}
.plan-card__table tbody tr.other-plan td:first-child .td-container{
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.plan-card__table .current-plan {
    cursor: pointer;
}
/*HIDE .other-plan rows*/
.plan-card__table .other-plan {
    display: none;
}
/*SHOW .other-plan rows*/
.plan-card__table .other-plan.show {
    display: table-row;
}
/******************** RESPONSIVE ********************/
.container-plans-mobile {
    padding-top: 32px;
    display: none;
}
@media screen and (max-width: 1439px) {
    .plan__price {
        font-size: 22px;
    }
}
@media screen and (max-width: 992px) {
    .container-plans-mobile {
        display: block;
    }
    .container-plans-desktop {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .plan-card__table .check-col {
        width: 80px;
    }
    .plan-card__table .feature {
        width: calc(100% - 80px);
    }
    .plan-card__table tbody td:nth-child(2) .td-container {
        flex-direction: column;
        align-items: end;
    }
    .plan-card__table span.tag {
        margin: 0;
    }
    .plan-card__table .check {
        padding: 0;
    }
    span.tag {
        font-size: 10px;
    }
    .plan-card__table tbody td {
        padding: 8.5px 0;
    }
}
.end-mobile{}
